.linkWeb{
    background-color: #EBEBEB;
}
.link{
    width: 1140px;
    margin: auto;
   height: 50px;
   
}
.link a{
    text-decoration: none;
    color: black;  
    font-size: 16px;
    line-height: 50px;
}
.boxNew{
    width: 1140px;
    margin: 40px auto;
}

.category{
    width: 23%;
    float: left;
    text-align: center;
    border: 1px solid #3B3C6E;
    padding: 30px 0px 70px 0px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.226);
}
.category h3{
    font-size: 20px;
    margin-bottom: 20px;
}
.btnCategory{
    display: grid;
    grid-template-columns: 1fr;
}
.btnCategory button{
 width: 220px;
 height: 60px;
 background-color: white;
 margin: 2px auto;
 border: 1px solid #D7D7D7;
 border-radius: 5px;
 font-size: 16px;
 font-weight: bold;
 
}
.btnCategory button p{
    float: left;
    margin-left: 20px;
}
.btnCategory button:hover{
    background-color: #3B3C6E;
    color: #D7D7D7;
}
.formNew{
    width: 75%;
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 0px 5px;
}
.cartNew{
    border: 1px solid #D7D7D7; 
    padding-bottom: 10px;
    border-radius: 5px;
}
.cartNew img{
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0px 0px ;
}
.imgCartNew{
  margin: 2px 1px;
}
.titleNew{
    font-size: 18px;
    
    font-weight: bold;
    margin: 0px 7px;
    
    line-height: 25px;   
}
.titleNew a{
    color: black;
    text-decoration: none;
}
.infomationNew {
    font-size: 13px;
    padding: 0px 7px;
    font-weight: lighter;
    color: #727272;
}
.btnNew{
    text-align: center;
    margin: 5px auto;
}
.btnNew button{
    width: 120px;
    height: 32px;
    font-size: 14px;
    border-radius: 60px;
    background-color: #3B3C6E;
    color: white;
    border: #3B3C6E;
}
.btnNew button:hover{
    background-color: #5f60a7;
}
/* ----------------------------------- Chi tiet tin tuc ----------------------------------------- */
.linkWeb{
    background-color: #EBEBEB;
}
.link{
    width: 1140px;
    margin: auto;
   height: 50px;
   
}
.link a{
    text-decoration: none;
    color: black;  
    font-size: 16px;
    line-height: 50px;
}
.boxNewDetail{
    width: 1140px;
    margin: 40px auto;
}
.spaceNewDetail{
    width: 23%;
    float: right;
}
.categoryDetail{
   
    text-align: center;
    border: 1px solid #3B3C6E;
    padding: 30px 0px 70px 0px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.226);
}
.categoryDetail h3{
    font-size: 20px;
    margin-bottom: 20px;
}
.btnCategoryDetail{
    display: grid;
    grid-template-columns: 1fr;
}
.btnCategoryDetail button{
 width: 220px;
 height: 60px;
 background-color: white;
 margin: 2px auto;
 border: 1px solid #D7D7D7;
 border-radius: 5px;
 font-size: 16px;
 font-weight: bold;
 
}
.btnCategoryDetail button p{
    float: left;
    margin-left: 20px;
}
.btnCategoryDetail button:hover{
    background-color: #3B3C6E;
    color: #D7D7D7;
}

.newsDetail{
    margin-top: 50px;
    border: 1px solid #999999;
    border-left: 4px solid #3B3C6E;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.226);
}
.newsDetail h3{
    text-align: center;
    margin: 15px auto;
    font-size: 22px;
    color: #3B3C6E;
}
.newsDetail hr{
    background-color: #3B3C6E;
    height: 5px;
}
.imgPostNews img{
    width: 100px;
    height: 90px;
    
}
.postNews{
    display: flex;
    border-bottom: 1px solid gray;
}
.imgPostNews {
  padding: 5px 5px 1px 5px;
}
.postNews p{
    padding: 5px;
    font-size: 14px;
}
.formNewDetail{
    width: 75%;
    float: left;
    padding: 5px 5px 50px 5px;
    margin-bottom: 100px;
    border: 1px solid gray;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 5px 5px gray;
}
.informationNew{
    width: 95%;
    margin: 30px auto;
}
.informationNew h1{
    font-size: 36px;
    line-height: 45px;
}
.informationNew li{
    margin: 10px 0px 10px 30px;
    font-size: 16px;
    color: #3B3C6E;
}

.informationNew hr{
    margin-bottom: 20px;
    height: 3px;
    background-color: gray;
}
.informationNew p{
    font-size: 16px;
    line-height: 35px;
    color: #404040;
}
.imgInformation{
    margin: 10px 0px;
}
.informationNew span{
    display: flex;
    justify-content: end ;
    font-size: 14px;
    color: #3B3C6E;
    margin: 40px;
}
.comment{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}
.filterComment select{
    width: 150px;
    height: 40px;
  border-radius: 5px;
  padding: 0px 5px;
  font-size: 14px;
}
.numberComment{
    line-height: 40px;
    font-size: 14px;
}
.hrComment hr{
    height: 1px;
    margin-top: 20px;
}
.imgComment img{
    width: 60px;
    height: 60px;
    
}
.formComment{
    display: flex;
    justify-content: left;
}
.inputComment input{
   border: white;
   border-bottom: 1px solid black;
   font-size: 16px;
   padding: 35px 20px 5px 20px;
   margin: 0px 30px;
   width: 600px;
}