.linkWeb{
    background-color: #EBEBEB;
}
.link{
    width: 1140px;
    margin: auto;
   height: 50px;
   
}
.link a{
    text-decoration: none;
    color: black;  
    font-size: 16px;
    line-height: 50px;
}


.containerContribute{
    width: 1140px;
    margin: 40px auto;
}
.columContribute{
   margin-top:50px;
}
.formContribute h1{
    font-size: 36px;

}
.formContribute hr{
    width: 20%;
    background-color: black;
    color: black;
    height: 5px;
    margin-bottom: 30px;
}
.formContribute{
    width: 55%;
    height: 600px;
    float: left;
    border-right: 2px solid rgb(183, 183, 183);
    margin-bottom: 30px;
   
}
.donateContribute{
    padding: 0px 10px;
    width: 45%;
    float: right;
}
.donateContribute h1{
    font-size: 36px;

}
.donateContribute hr{
    width: 27%;
    background-color: black;
    color: black;
    height: 5px;
    
}
.donateContributee{
    font-size: 20px;
    padding-left: 10px;
}
.nameContribute{
    display: flex;
    
}
.contactDonate{
    padding: 10px;
}

.NameContribute input{
    margin: 5px 0px 30px 0px;
    width: 280px;
    height: 45px;
    font-size: 16px;
    padding: 0 10px;
    border: 2px solid #334b758f;
    border-radius: 5px;
    margin-right: 20px;
}
.emailContribute input{
    margin: 5px 0px 15px 0px;
    width: 580px;
    height: 50px;
    font-size: 16px;
    padding: 0 10px;
    border: 2px solid #334b758f;
    border-radius: 5px;

}
.textareaContribute textarea{
    margin: 5px 0px 15px 0px;   
    width: 580px;
    height: 120px;
    font-size: 16px;
    padding: 5px 10px;
    border: 2px solid #334b758f;
    border-radius: 5px;
}
.btnContribute {
    width: 580px;
    display: flex;
    justify-content: center;
}
.btnContribute button{
    width: 170px;
    height: 50px;
    background-color: #334B75;
    font-size: 18px;
    color: white;
    border-radius: 50px;
   
}
.formDonate{
    border: 1px solid #D2D2D2;
    border-radius: 10px;
    box-shadow: 0px 10px 10px #D2D2D2;
}
.imgDonate img{
    width: 150px;
    height: 100px;
}

.formBank{
    margin: 10px ;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.bank{
padding: 20px 10px;
}
