.linkWeb{
    background-color: #EBEBEB;
}
.link{
    width: 1140px;
    margin: auto;
   height: 50px;
   
}
.link a{
    text-decoration: none;
    color: black;  
    font-size: 16px;
    line-height: 50px;
}
.introductionProduct{
   padding-top: 20px;
    width: 1140px;
    margin: auto;
}
.informationProduct{
    width: 65%;
    float: left;
}

.introductionProduct h1{
    font-size: 36px;

}
.introductionProduct hr{
    width: 20%;
    background-color: black;
    color: black;
        height: 5px;
}


.title11{
    width: 20%;
    background-color: black;
    color: black;
    height: 5px;
}

.introductionProduct p{
    margin-top: 20px;
    font-size: 18px;
    color: #787878;
}
.btnVaccin{
    margin-top: 20px;
    text-align: center;
}
.btnVaccin button{
    font-size: 19px;
    width: 255px;
    font-weight: bold;
    height: 55px;
    border-radius: 50px;
    background-color: #148EDA;
}
.imgIntroduction {
    margin-top: 20px;
    width: 35%;
    float: right;
    text-align: center;
   
}
.imgIntroduction img{
  width: 350px;
  height: 340px;
  border-radius: 20px;
}
/* --------------------------------- Ung ho gay quy ------------------------------ */

.bgrFunraising{
    background-color: #FAFAFA;
    margin-top: 50px;
    padding: 30px 0px;
}

.containerFunraising{
    width: 1140px;
    display: flex;
   margin: auto;
}

.informationFundraising{
    width: 60%;
}
.informationFundraising h1{
    font-size: 36px;
}
.informationFundraising hr{
    width: 20%;
    background-color: black;
    color: black;
    height: 5px;
}
.contendFundraising{
    font-size: 18px;
    line-height: 28px;
    margin-top: 15px;
    color: #787878;
    margin-right: 10px;
   
}
.contendFundraising ul{
    margin-left: 40px;
    font-size: 16px;
}

.imageFundraising{
    width: 40%;
    float: right;
    
}

.imageFundraising img{
    width: 220px;
    height: 210px;
    float: right;
    border: 0.5px solid rgb(198, 198, 198);
}

/* -------------------------- Quyen gop va Gop y ---------------------------------- */

.containerContribute{
    width: 1140px;
    margin: 40px auto;
}
.columContribute{
   margin-top:50px;
}
.formContribute{
    width: 52%;
    height: 470px;
    float: left;
    border-right: 2px solid rgb(183, 183, 183);
    margin-bottom: 30px;
   
}
.donateContribute{
    padding: 30px 0px 30px 30px;
    width: 48%;
    float: right;
}
.nameContribute{
    display: flex;
    
}

.NameContribute input{
    margin: 5px 0px 30px 0px;
    width: 240px;
    height: 45px;
    font-size: 16px;
    padding: 0 10px;
    border: 2px solid #334b758f;
    border-radius: 5px;
    margin-right: 20px;
}
.emailContribute input{
    margin: 5px 0px 15px 0px;
    width: 500px;
    height: 45px;
    font-size: 16px;
    padding: 0 10px;
    border: 2px solid #334b758f;
    border-radius: 5px;

}
.textareaContribute textarea{
    margin: 5px 0px 15px 0px;   
    width: 500px;
    height: 100px;
    font-size: 16px;
    padding: 5px 10px;
    border: 2px solid #334b758f;
    border-radius: 5px;
}
.btnContribute {
    width: 500px;
    display: flex;
    justify-content: center;
}
.btnContribute button{
    width: 170px;
    height: 50px;
    background-color: #334B75;
    font-size: 18px;
    color: white;
    border-radius: 50px;
   
}
.formDonate{
    border: 1px solid #D2D2D2;
    border-radius: 10px;
    box-shadow: 0px 10px 10px #D2D2D2;
}
.imgDonate img{
    width: 150px;
    height: 100px;
}

.formBank{
    margin: 10px ;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.bank{
padding: 20px 0px;
}



