.bao{
    width: 1140px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #5a97ffa1;
    margin: auto;
    margin-bottom: 80px;
}
.baoGioiThieu{
  width: 1000px;
  margin: auto;
}
.gioiThieu1{
width: 745px;
height: 150px;
background-color: #D9D9D9;
margin: auto;
border-radius: 30px;
}
.baoGioiThieu h2{
font-size: 30px;
color: #DD3A3A;
}
.baoGioiThieu p{
    line-height: 25px;
    font-size: 17px;
    color: #DD3A3A;
}
.noiDung1{
    width: 550px;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}
.anhGioiThieu1 img{
   width: 140px;
   height: 195px;
   float: left; 
   margin-left: 20px;
   margin-top: 25px;
}
.gioiThieu2{
    margin-top: 20px;
    height: 190px;
}
.anhGioiThieu2 img{
    width: 300px;
    height: 185px;
    border-radius: 300px;
    float: left;
}
.noiDung2{
margin-top: 10px;
width: 680px;
float: right;

}

.gioiThieu3{
    margin-top: 40px;
    height: 190px;
}
.anhGioiThieu3 img{
    width: 300px;
    height: 185px;
    border-radius: 300px;
    float: right;
}
.noiDung3{
margin-top: 10px;
width: 680px;
float: left;

}

.gioiThieu4{
    margin-top: 40px;
    height: 190px;
}
.anhGioiThieu4 img{
    width: 300px;
    height: 185px;
    border-radius: 300px;
    float: left;
}
.noiDung4{
margin-top: 10px;
width: 680px;
float: right;

}
.btnGioiThieu button{
   padding: 15px 40px 15px 40px;
   font-size: 19px;
   border-radius: 50px;
   background-color: #148EDA;
   font-weight: bold;
   border: #148EDA;
   transition:  0.3s;
}
.btnGioiThieu{
    margin-top: 70px;
    text-align: center;
   
}
.btnGioiThieu button:hover{
    background-color: #126ca4;
}
