.sanPham{
    padding-bottom: 30px;
    width: 1140px;
    margin: auto;
   
}

.sanPham h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.columCard {
   
    display: grid; /* Dùng Flexbox */
    grid-template-columns:  repeat(4, 1fr); /* Chia thành 3 cột có kích thước đều nhau */; 
      gap: 30px; /* Khoảng cách giữa các thẻ */
      padding: 15px;
    }
.card{
width: 255px;
height: 380px;
border: 1.5px solid gainsboro;
}

.imageSP img{
    width: 230px;
    height: 230px;
}
.imageSP {
    text-align: center;
    margin-top: 10px;
}
.tenSP{
   
   height: 60px;
  
}
.ttSP{
    font-size: 16px;
    line-height: 18px;
    color: black;
    text-decoration: none;
    text-transform: uppercase ;
}
.gia{
    font-size: 28px;
    color: rgb(183, 37, 37);
    font-weight: bold;
}
.sanPhamTT hr{
    width: 100px;
    height: 2px;
   
    background-color: black;
    margin-bottom: 5px;
}

.sanPhamTT{
    padding: 0px 10px;
  
}

.btnSP{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.btnSP button{
    font-size: 23px;
    width: 230px;
    height: 50px;
    color: white;
    background-color: #000000;
    border-radius: 5px;
    border: #000000;
}

.muaNgay{
    position: relative;
}
.muaNgay .overSP {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
    text-align: center;
    
}
.muaNgay .muaHang{
  
    font-size: 20px;
    width: 230px;
    height: 45px;
    color: white;
    background-color: #000000;
    border-radius: 10px;
    border: #000000;
   opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.card:hover .muaHang  {
    opacity: 1;
    transform: translateY(0);
}

/* Popup overlay */
.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Nội dung popup */
  .popupContent {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    position: relative;
    text-align: center;
  }
  
  /* Nút đóng popup */
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #f00;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  /* Nút Mua hàng trong popup */
  .muahang {
    background: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  .loc1 select{
float: left;
margin-left: 30px;
   width: 250px;
   height: 45px;
   border-radius: 5px;
   font-size: 18px;
   text-align: center;

  }
  .loc2 select{
    float: right;
    margin-right: 30px;
    width: 250px;
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
 
   }

  