.duongDan{
    background-color: #EBEBEB;
}
.link{
    width: 1140px;
    margin: auto;
   height: 50px;
   
}
.link a{
    text-decoration: none;
    color: black;  
    font-size: 16px;
    line-height: 50px;
}
.gioithieuSP{
   padding-top: 20px;
    width: 80%;
    margin: auto;
}
.ttSP{
    width: 72%;
    float: left;
}

.gioithieuSP h1{
    font-size: 36px;

}
.gioithieuSP hr{
    width: 20%;
    background-color: black;
    color: black;
        height: 5px;
}
.gioithieuSP p{
    margin-top: 20px;
    font-size: 18px;
    color: #787878;
}
.btnSP{
    margin-top: 20px;
}
.btnSP button{
    font-size: 18px;
    color: white;
    width: 210px;
    height: 50px;
    border-radius: 5px;
    background-color: #334B75;
}
.anhGT {
    margin-top: 20px;
    width: 28%;
    float: right;
    text-align: center;
}
.anhGT img{
    width: 275px;
    height: 275px;
}