

  .formPay {
    display: flex;
    justify-content: space-between;
   
   
  }
  
  .formN{
    width: 1140px;
    margin: 10px  auto;
    background-color: rgb(244, 244, 244);
    padding: 20px;
    border-radius: 10px;
  }
  
  .formSection {
    width: 65%;
    margin-right: 20px;
    max-height: 400px; /* Giới hạn chiều cao khu vực chứa sản phẩm */
    overflow-y: auto;  /* Hiển thị thanh cuộn khi có nhiều sản phẩm */
  } 
  
  .summarySection {
   width: 35%;
    background-color: #fafafa;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  .formPay h1, h2 {
    margin-bottom: 10px;
  }
  
  .formPay p {
    margin-bottom: 10px;
    color: #555;
  }
  
  .thongtin input[type="email"],
  .thongtin input[type="text"] {
    width: 100%;
    padding: 12px 10px 12px 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  .summarySection input[type="text"]{
    width: 100%;
    padding: 12px 10px 12px 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  .thanhtoan{
    margin-top: 20px;
    width: 100%;
    padding: 12px 10px 12px 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .row {
    display: flex;
    gap: 10px;
  }
  
  
  
  .orderTotals p, .order-totals h3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  
  }
  
  .orderTotals h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  

  
  .formPay label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .thongtin select {
    width: 100%;
    padding: 12px 10px 12px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .order{
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    margin: 10px 0px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;  
    align-items: center;
  }
  
  
  .orderTotals hr{
  margin-bottom: 10px;
  }
  
  .method {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px 15px 5px 15px;
    margin-bottom: 5px;
    background-color: #fdfdfd;
                 /* Cả hai phương thức có cùng chiều rộng */
    position: relative;
  }
  
  
  
   .paymentMethod input[type="radio"] {
    position: absolute;
    width: 17px;
    height: 17px;
  }
  
  .paymentMethod label {
    display: flex;
    align-items: center;
    padding-left: 30px;
    cursor: pointer;
  }
  
  .methodTitle {
    font-size: 16px;
    font-weight: bold;
  }


  
  .thongtin{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    
  }
  
  
  
  
  .quantityInput {
    width: 50px;
    text-align: center;
    padding: 5px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
   .delete {
    padding: 5px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete:hover {
    background-color: #0056b3;
  }
  .thanhtoan{
    background-color: #007bff;
    color: white;
  }
  .thanhtoan:hover{
    background-color: #0056b3;
  }
  
  
  .item{
    text-align: center;
  }
  
  .order img{
    width: 80px;
    height: 80px;
  }