.home{
    /* display: flex;
    flex-wrap: wrap;
     min-width: 1140px; 
    justify-content: space-around;
    gap: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #f5f5f5;
    gap: 90px 10px;
    width: 1140px;
    padding: 20px 0px 90px 0px;
}
.nhannuoi img{
    /* height: 200px;
    border: 1px solid black;
    border-radius: 10px; */
    width: 100%;
    height: 250px;
    object-fit: cover;
}
/* .container{
    width: 1140px;
    margin: auto;
} */
.nhannuoi_chitiet{
    background-color: rgb(255, 255, 255);
    position: absolute;
    padding: 10px;
    text-align: center;
    margin: 180px 0px;
    border-radius: 10px;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.nhannuoi{
    /* display: flex;
    height: 300px; */
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid gainsboro;
    width: 340px;
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: center;
}
/* .thongtin_nhannuoi{
    position: absolute;
    width: 300px;
} */
.role{
    display:flex;
    justify-content: center;
    width: 1140px;
    margin: auto;
}
.role > article{
    width: 70%;
}
.role > aside{
    width: 30%;
}
.role > article > h3{
    font-size: 27px;
    /* line-height: 56px; */
    margin: 10px 0px 0px 10px;
}
.role >article > hr{
    width: 285px;
    border: 1px solid ;
}
.role > article > p{
    line-height: 22px;
    margin: 15px;
}
.DK {
    border: 1px solid gray;
    background-color: #D9D9D9;
    border-radius: 8px;
    margin: 30px;
    padding: 10px;
}
.DK >h5{
    font-size: 22px;
}