  /* Khai báo font chữ CustomFont1 */
  @font-face {
    font-family: 'CustomFont1';
    src: url('../public/cantarell/Cantarell-Regular.otf') ;
        
    font-weight: normal;
    font-style: normal;
}

/* Khai báo font chữ CustomFont2 */
@font-face {
    font-family: 'CustomFont2';
    src: url('../public/comme/Comme-Regular\ \(1\).ttf') ;
       
    font-weight: normal;
    font-style: normal;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    font-family: sans-serif;
}

