.linkWeb{
    background-color: #EBEBEB;
}
.link{
    width: 1140px;
    margin: auto;
   height: 50px;
   
}
.link a{
    text-decoration: none;
    color: black;  
    font-size: 16px;
    line-height: 50px;
}
.containerVaccin{
    width: 1140px;
    border: 1px solid gray;
    margin: 50px auto;
    box-shadow: 0px 5px 5px gray;
    border-radius: 0px 0px 20px 20px;
}
.informationVaccin{
    width: 980px;
    margin: 30px auto;
}
.informationVaccin h1{
    font-size: 35px;
}
.informationVaccin hr{
    width: 40%;
    height: 8px;
    background-color: #334B75;
}
.introduceVaccin p{
    color: #545252;
    font-size: 18px;
    line-height: 35px;
    margin-top: 10px;
}
.informationVaccin img{
    margin: 10px 0px;
    width: 750px;
    height: auto;
}
.catVaccin{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.imgCatVaccin img{
    width: 540px;
    height: 500px;
}
.informationCatVaccin{
margin: 5px 30px;
}
.informationCatVaccin h2{
    font-size: 25px;
}
.informationCatVaccin ul{
    margin-left: 15px;
}
.informationCatVaccin li{
    font-size: 16px;
    line-height: 35px;
    color: #545252;
}
.registerVaccin{
    font-size: 18px;
    color: white;
    font-weight: bold;
    background-color: #334B75;
    width: 200px;
    height: 50px;
    margin-top: 30px;
    border-radius: 5px;
}
.dogVaccin{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
    margin-bottom: 30px;
}
.vaccinSick img{
    width: 445px;
    height: 445px;
}
.vaccinSick ul{
margin-left: 20px;
}
.vaccinSick p{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.vaccinSick ul{
    margin-left: 15px;
}
.vaccinSick li{
    font-size: 16px;
    line-height: 35px;
    color: #545252;
}
.ressonVaccin h4{
    font-size: 20px;
    font-weight: bold;
    color: #334B75;
}
.ressonVaccin p{
    font-size: 18px;
    line-height: 35px;
    color: #545252;
}
.ressonVaccin p span{
    font-size: 14px;
    color: black;
    font-weight: bold;
}
.ressonVaccin img{
    width: 950px;
    height: auto;
    margin: 10px 0px;
}
.noteVaccin h4{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #334B75;
}
.noteVaccin p{
    font-size: 18px;
    color: #545252;
    line-height: 35px;
}
.noteVaccin strong{
    color: black;
}
.noteVaccin ul{
    margin-left: 50px;
}
.dateVaccin{
    margin: 40px 0px;
}
.dateVaccin h1{
    color: #334B75;
    font-size: 35px;
    font-weight: lighter;
}
.dateVaccin p{
    font-size: 16px;
}
.formVaccin{
    width: 500px;
    margin: 20px auto;
    background-color: #f7f7f7;
    border-radius: 10px;
    border: 1px solid black;
}
.boxVaccin{
    margin: 30px 50px;
}
.boxVaccin h1{
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}
.boxVaccin label{
    font-size: 16px;
    color: #6F6F6F;
    
}

.informationUser{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.boxVaccin input , .boxVaccin select{
    width: 100%;
    padding: 13px;
    border: 2px solid #334B75;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 3px;
    
}
.formInformationVaccin{
    margin-top: 20px;
}
.btnResiginVaccin{
    text-align: center;
    margin: 30px auto;
}
.btnResiginVaccin button{
    width: 170px;
    height: 50px;
    border-radius: 50px;
    background-color: #334B75;
    color: white;
    font-size: 20px;
}
.btnResiginVaccin button:hover{
   
    background-color: #5175b3;
   
}
