.bao{
    margin-top: 40px;
    background-image: url('../../../public/image/thongke.png');
    padding: 65px 0px;
    background-size: cover;
}
.timkiem{
   text-align: center;
   
}
.inputSP{
    padding-left: 10px;
    width: 570px;
    height: 55px;
    font-size: 17px;
    border-radius: 5px;
    border:2px solid  #334B75;
    margin-right: 5px;
}
.btnSP{
    border-radius: 5px;
    border:2px solid  #000000;
    width: 170px;
    height: 60px;
    font-size: 20px;
  background-color: #334B75;
  color: white;
  
}